* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container{
    max-width: 1200px;
    margin: 0 auto;
}

.mar-top{
    margin-top: 20px;
}

.py-bot{
    padding-bottom: 15px;
}


.py-20{
    padding: 20px;
}


.pad-top{
    padding-top: 150px;
}

.mar-logo{
    margin-right: 4px;
}

/* spaziatura */


body{
    font-family: "Inter", serif;
}

nav{
    padding: 8px;
    background-color: #255EE9;
}


nav .container >* {
    margin: 0 auto;
    height: 40px;
    padding: 5px;
    }

nav .container{
    display: flex;
}

.logo{
    width: 12%;
}

.links{
    flex-grow: 1;
}

.links ul {
    display: flex;
    justify-content: center;
    list-style-type: none;
    gap: 10px;
}

a{
    text-decoration: none;
}


li{
    color: #fff;
}

.login{
    width: 10%;
    text-align: right;
}

.login-button{
    width: 55px;
    border-radius: 5px;
    border: 0px;
    padding: 5px;
}

.sfondo-intestazione{
    background-image: url(../img/jumbo.png);
    background-size: cover;
    background-repeat: no-repeat;
    padding: 140px 0px;
}

.intestazioneprincipale{
    max-width: 600px;
    padding: 5px;
    text-align: center;
    line-height: 20px;
    color: #fff;
    
}


.item{
    width: 300px;
    height: 300px;
}

.instazione-item1{
    display: flex;
    padding: 5px;
    text-align: left;
    line-height: 20px;
    justify-content: flex-end;
}


.smaller-square{
    width: 40%;
    height: 150px;
    background-color: pink;
}

.biggest-square{
    width: 100%;
    height: 300px;
    background-color: green;
}

.big-col{
    max-width: 40%;
    margin-left: 50px;
}

.small-col{
    width: 20%;
}

.center{
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 30px auto;
}

.small-center{
        display: flex;
        max-width: 900px;
        margin: 0 auto;
        justify-content: center;
}

.scarica-per-mac{
    background: #7289DA;
    color: white;
    border-radius: 20px;
    padding: 10px;
}

footer{
    padding-top: 10px;
    height: 80px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.footer-dim{
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 90%;
    width: 60%;
}

/* utility */
.bg-gray {
    background-color: #d3d3d3;
}

.bg-header{
    background-color: #255EE9;
}

.bg-blue{
    background-color: blue;
}

.bg-black{
    background-color: #23272a;
}

.bg-aquamarine{
    background-color: aquamarine;
}

.border{
    border: 1.5px dashed black;
}


.footer-dim{
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 90%;
    width: 60%;
}

.button{
    background-color: rosybrown;
    padding: 3px;
}

h1{
    margin-bottom: 30px;
}

.space-around{
    justify-content: space-around;
}

.col-100{
    width: 100%;
}

.col{
    flex-direction: column;
}

.stelle{
    background-image: url(../img/stars.svg);
    background-repeat: no-repeat;
    background-size: cover;
}

#ita{
    width: 30px;
    height: 20px;
}

.inline-block{
    display: inline-block;
}

.color-blue{
    color:#677ec8;
}

.color-white{
    color: white;
}

.text-align{
    text-align: center;
}

.d-flex{
    display: flex;
}

.just-center{
    justify-content: center;
}

h1{
    font-size: 40px;
}

.vertical-align{
    vertical-align: middle;
}

.bordo-blue{
    border-color: #255EE9;
}