* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container{
    max-width: 1200px;
    margin: 0px auto;
}

.mar-top{
    margin-top: 30px;
}

.mar-left{
    margin-left: 20px;
}

.mar-logo{
    margin-right: 4px;
}

.mar-body{
    margin-top: 350px;
}

.py-bot{
    padding-bottom: 15px;
}


.py-20{
    padding: 20px;
}

.pad-top{
    padding-top: 150px;
}

/* spaziatura */

.inline-block{
    display: inline-block;
}

body{
    font-family: "Inter", serif;
}

nav{
    padding: 8px;
    background-color: #255EE9;
}


nav .container >* {
    margin: 0 auto;
    height: 40px;
    padding: 5px;
    }

nav .container{
    display: flex;
}

.logo{
    width: 12%;
}

.links{
    flex-grow: 1;
}

.links ul {
    display: flex;
    justify-content: center;
    list-style-type: none;
    gap: 10px;
}

a{
    text-decoration: none;
    color: white;
}


li{
    color: #fff;
}

.login{
    width: 10%;
    text-align: right;
}

.login-button{
    width: 60px;
    border-radius: 10px;
    border: 0px;
    padding: 5px;
}

.sfondo-intestazione{
    background-image: url(../img/jumbo.png);
    background-size: cover;
    background-repeat: no-repeat;
    padding: 140px 0px;
}

.intestazioneprincipale{
    max-width: 600px;
    padding: 5px;
    text-align: center;
    line-height: 30px;
    color: #fff;
    
}


.item{
    width: 300px;
    height: 300px;
}

.instazione-item1{
    display: flex;
    padding: 5px;
    text-align: left;
    line-height: 20px;
    justify-content: flex-end;
}

.big-col{
    max-width: 40%;
    margin-left: 50px;
}

.small-col{
    width: 20%;
}

.center{
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 30px auto;
}

.small-center{
        display: flex;
        max-width: 900px;
        margin: 0 auto;
        justify-content: center;
}

.scarica-per-mac-top{
    background: #fff;
    color: #24242d;
}

.scarica-per-mac-bot{
    background: #7289DA;
    color: white;
}

#button-header{
    background: #24242d;
    color: #fff;
}

footer{
    padding-top: 10px;
    height: 80px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.footer-dim{
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 90%;
    width: 60%;
}

/* utility */
.bg-gray {
    background-color: #f7f7f6;
}

.bg-header{
    background-color: #255EE9;
}

.bg-black{
    background-color: #23272a;
}

.button{
    border-radius: 20px;
    padding: 10px;
    border: 0px;
}

h1{
    margin-bottom: 30px;
}

.space-around{
    justify-content: space-around;
}

.col-100{
    width: 100%;
}

.col-50{
    width: 50%;
}

.stelle{
    background-image: url(../img/stars.svg);
    background-repeat: no-repeat;
    background-size: cover;
}

#ita{
    width: 30px;
    height: 20px;
}

.color-blue{
    color:#677ec8;
}

.color-white{
    color: white;
}

.text-align{
    text-align: center;
}

.d-flex{
    display: flex;
}

.just-center{
    justify-content: center;
}

h1{
    font-size: 40px;
}

p{
    line-height: 20px;
    font-size: 14px;
}


.bordo-blue{
    border-color: #255EE9;
}

p{
    line-height: 30px;
}

.margin-logo{
    margin: 0px 10px;
}